* {
margin:0;
padding: 0;
}
article
{
  border: 1px solid red;

}

body{
  background: black;
  text-align: center;
}
section
{
  border: solid 2px white;
  height: 400px;
  margin: 0 auto;
  width: 90%;
}
