div.caja{
  margin: 50px auto;
  border: 12px double tomato;
  widht 700px;

}

p{
  background: silver;
  color: #444;
  padding: 10px;
  border: 2px rgba(0, 0, 0,.1) solid;
  margin: 0;

}

p > a{
  display: block;
}
