#Cabecera{
  margin-top: 5px;
  background-color: #5abab0;
  padding: 10px;
}
#Derecha{
  background-color: #ff6b53;
  float: left;
  margin-top: 5px;
  min-height: 500px;
  padding: 10px;
  width: 15%;
}
#Izquierda{
  background-color: #3bec7e;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  min-height: 500px;
  padding: 10px;
  width: 25%;
}
#Pie{
  background-color: #feff86;
  clear: both;
  margin-top: 5px;
  padding: 10px;
}
#Centro{
  margin: 5px;
  min-height: 500px;
  background-color: #949494;
  padding: 10px;
  float: left;
  width: 50%;
}
