/* Selector Universal */
*{
  font-size: 25px;
}

*[lang=en]{
  color: rgb(142, 33, 175);
}

/* Selector de clase, Se usa con un (.) seguido del nombre de la clase */
.volver{
  background: rgb(50, 192, 227);
}

.clasico{
  background: rgb(87, 164, 69);
  font-weight: bold;
}
/* Este ejemplo hace referencia a todos los elementos p que tengan como atributo class = "clasico" */

p.clasico{
  color: red;
  background: none;
}

/* Este ejemplo se aplica unicamente a los elementos que contengan las clases clasico y añadido (class ="clasico añadido") */

.clasico.añadido{
  font-style: italic;
}

/* Selector de id, se usa con un (#) inicial seguido del id */
#marcado{
  border: 2px solid rgb(26, 15, 61);
}
