h1 {
    color: blueviolet;
}

/* Poner texto del p치rrafo en negrita. */

p {
    font-weight: bold;
}

/* Define el texto  del div en dos pasos m치s oscuros que
    lo normal, pero menos que una negrita est치ndar. */

div {
    font-weight: 600;
}

/* Establece el texto incluido dentro de la etiqueta span 
    para ser un paso m치s ligero que el padre. */

span {
    font-weight: lighter;
}

/*Variaciones de fuente*/

h2 {
    font-variant: small-caps;
}

p.variant {
    font-variant: small-caps;
}

/*Decoraciones de texto por clases*/

h1.under {
    text-decoration: underline;
}

h1.over {
    text-decoration: overline;
}

p.line {
    text-decoration: line-through;
}

p.blink {
    text-decoration: blink;
}

a.none {
    text-decoration: none;
}

p.underover {
    text-decoration: underline overline;
}